# Camera Stream
streamlit~=1.50.0
altair~=5.5.0
opencv-python # ~=4.12.0.88
numpy~=2.2.6
pandas~=2.3.3
scipy~=1.15.3
# tensorflow==2.19.0
onnxruntime==1.23.0
# Data Collection App
# PyQt6~=6.10.0
# PyQt6-stubs==20250824
# pynput~=1.8.1

pyyaml
flask
absl-py
tqdm
matplotlib

scikit-learn  # Kmeans (Dominant Color)

